1. Install and import all necessary packages

In [1]:
import pandas as pd
import numpy as np

2. Load and check dataset

In [2]:
# Load the dataset as a dataframe
df = pd.read_csv('RAW_DATA/economic-inequality-gini-index.csv')

In [3]:
# Display dataframe to determine data is in it
display(df)

        Entity Code  Year  Gini coefficient
0      Albania  ALB  1996          0.270103
1      Albania  ALB  2002          0.317390
2      Albania  ALB  2005          0.305957
3      Albania  ALB  2008          0.299847
4      Albania  ALB  2012          0.289605
...        ...  ...   ...               ...
2299    Zambia  ZMB  2010          0.520347
2300    Zambia  ZMB  2015          0.559366
2301  Zimbabwe  ZWE  2011          0.431536
2302  Zimbabwe  ZWE  2017          0.443371
2303  Zimbabwe  ZWE  2019          0.502564

[2304 rows x 4 columns]

In [4]:
# Print a concise summary of the dataframe (determine datatype for each column)
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Entity            2304 non-null   object
 1   Code              2114 non-null   object
 2   Year              2304 non-null   int64
 3   Gini coefficient  2304 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 72.1+ KB

3. Change datatypes where necessary

In [5]:
df[['Entity', 'Code']] = df[['Entity', 'Code']].astype('string')

In [6]:
# Double check datatypes
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2304 entries, 0 to 2303
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Entity            2304 non-null   string
 1   Code              2114 non-null   string
 2   Year              2304 non-null   int64
 3   Gini coefficient  2304 non-null   float64
dtypes: float64(1), int64(1), string(2)
memory usage: 72.1 KB

4. Drop possible duplicate rows

In [7]:
df = df.drop_duplicates()

5. Save clean data to csv file

In [8]:
df.to_csv("CLEAN_DATA/clean_economic-inequality-gini-index.csv")